@{
    ViewBag.Title = Resources.Resource.Settings;
}

@model List<Admin.DAL.AppSettings>

<h2>@Resources.Resource.Settings</h2>
<br/>
@using (Html.BeginForm("Save", "Settings", FormMethod.Post))
{
    foreach (var groupName in Model.Where(c=> !c.IsHide).Select(c => c.GroupName).OrderBy(c=>c).Distinct())
    {
        <fieldset>
            <label>@groupName</label>
            @foreach(var item in Model.Where(c=>c.GroupName == groupName && !c.IsHide).
                OrderBy(c=>c.Order ?? 100))
            {
                                             
                    <section>
                        <label for="@item.Name">@item.ParamName</label>
                        <div>
                            @if(item.EditorType == 1)
                            {
                                bool value = false; 
                                bool.TryParse(item.Value, out value);                            
                                                          
                                <input type="checkbox" id="@item.Name" name="@item.Name" @(value ? "checked='checked'" : string.Empty) />                            
                            }
                            else
                            {
                                <input id="@item.Name" name="@item.Name" value="@item.Value"/>
                            }
                        </div>
                    </section> 
            }
        </fieldset> 
    }

    <fieldset>
        <section>
            <div>
                <button name="button" class="fr submit" value="Save">@Resources.Resource.Save</button>
            </div>
        </section>
    </fieldset>
}  