
@model Guid

<div id='AttributesResult'></div>
<div class="toolbar">
                    
    <a class="toolbar-addColumns" href="@Url.Action("EditAttribute", "MetadataEntity", new {Id = DBNull.Value, EntityId = Model, TypeId = 0})">@Resources.Resource.CreateColumn</a>
    <a class="toolbar-addRef" href="@Url.Action("EditAttribute", "MetadataEntity", new {Id = DBNull.Value, EntityId = Model, TypeId = 1})">@Resources.Resource.CreateLink</a>
    <a class="toolbar-separator" href="#"> | </a>
    <a class="toolbar-delete" href="javascript:AttributeGridDeleteCheckedRows();">@Resources.Resource.Delete</a>
</div>
@Html.Partial("AttributeGrid", Model)

<script>
    function AttributeGridDeleteCheckedRows() {
        if (AttributeGrid.GetSelectedRowCount() < 1) {
            alert('@Resources.Resource.NotSelectRows');
            return;
        }
        AttributeGrid.GetSelectedFieldValues("Id", OnAttributeGridDeleteCheckedRows);
    }

    function OnAttributeGridDeleteCheckedRows(selectedValues) {
        var data = new Array();
        for (var i = 0; i < selectedValues.length; i++) {
            data[data.length] = { name: 'checkedRecords', value: selectedValues[i] };
        }
        $('#AttributesResult').innerHTML = '';
        $('#AttributesResult').load('@Url.Action("AttributeDeleteRows")', data,
            function() {
                AttributeGrid.Refresh();
                AttributeGrid.UnselectRows();
            });
    }
</script>