@using OptimaJet.DynamicEntities.DataSource;
@using OptimaJet.DynamicEntities.Query;
@using OptimaJet.Localization

@{

    var user = OptimaJet.Security.Providers.SecurityCache.CurrentUser;

    string userName = user == null ? "Unknown" : user.Name;
    var index = userName.IndexOf(' ');
    string firstName = string.Empty;
    string lastName = string.Empty;

    if (index > 0)
    {
        firstName = userName.Substring(0, index);
        index++;
        lastName = userName.Substring(index, userName.Length - index);
    }
    else
    {
        firstName = userName;
    }

    var currentBudgetRow = OptimaJet.BJet.CommonSettings.CurrentBudget;
    var currentBudgetVersionRow = OptimaJet.BJet.CommonSettings.CurrentBudgetVersion;

    var budgets = DynamicRepository.GetByEntity("Budget", OrderByCriteriaSet.Asc("Name"));

    var budgetversions = DynamicRepository.GetByEntity("BudgetVersion",
            FilterCriteriaSet.And.Equal((Guid)currentBudgetRow.Id, "BudgetId"),
            OrderByCriteriaSet.Asc("Name"));

    var budgetsJSON = ServiceStack.Text.JsonSerializer.SerializeToString(budgets.Select(b => new { name = b.Name, id = b.Id }).ToArray());

    var suImps = user == null ?
        new List<OptimaJet.BJet.ImpersonationInfo>() :
        OptimaJet.BJet.SecurityUserImpersonation.GetImpersonationForUser(user.Id);
    var currentImp = OptimaJet.BJet.CommonSettings.ImpersonationInfo;
}

<script>
    @if(currentBudgetRow != null){
        @Html.Raw("optimajet.UrlAddParams.push({ key: 'B', value: '" + currentBudgetRow.Name + "' });");
    }
    @if (currentBudgetVersionRow != null)
    {
        @Html.Raw("optimajet.UrlAddParams.push({ key: 'BV', value: '" + currentBudgetVersionRow.Name + "' });");
    }

    @if (currentImp != null)
    {
        @Html.Raw("optimajet.UrlAddParams.push({ key: 'ImpUser', value: '" + currentImp.Id.ToString("N") + "' });")
    }

</script>
<script>
    optimajet.container.add('budgetsync', new BudgetSync(JSON.parse('@Html.Raw(budgetsJSON)'),@Html.Raw(currentBudgetRow.Name.ToString())));
    //optimajet.container.budgetsync.sync();
</script>

<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
        <div class="header-seperation">
            <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
                <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu" class=""> <div class="iconset top-menu-toggle-white"></div> </a> </li>
            </ul>
            <!-- BEGIN LOGO -->
            <a href="@Url.Content("~/")"><img src="@Url.Content("~/Content/assets/img/logo.png")" class="logo" alt="" data-src="@Url.Content("~/Content/assets/img/logo.png")" data-src-retina="@Url.Content("~/Content/assets/img/logo2x.png")" width="106" height="21" /></a>
            <!-- END LOGO -->
            @*<ul class="nav pull-right notifcation-center">
                  <li class="dropdown" id="header_task_bar"> <a href="@Url.Content("~/WS/Message")" class="dropdown-toggle active" data-toggle=""> <div class="iconset top-home"></div> </a> </li>
                  <li class="dropdown" id="header_inbox_bar" > <a href="@Url.Content("~/WS/Message")" class="dropdown-toggle" > <div class="iconset top-messages"></div>  <span class="badge" id="msgs-badge">2</span> </a></li>
                  <li class="dropdown" id="portrait-chat-toggler" style="display:none"> <a href="#sidr" class="chat-menu-toggle"> <div class="iconset top-chat-white "></div> </a> </li>
                </ul>*@
        </div>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <div class="header-quick-nav">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="pull-left">
                <ul class="nav quick-section">
                    <li class="quicklinks">
                        <a style="cursor:pointer" id="layout-condensed-toggle">
                            <div class="iconset top-menu-toggle-dark"></div>
                        </a>
                    </li>
                </ul>
                <ul class="nav quick-section">
                    <li class="quicklinks">
                        <a style="cursor:pointer" onclick="optimajet.ReloadPage()">
                            <div class="iconset top-reload"></div>
                        </a>
                    </li>
                    <li class="quicklinks"> <span class="h-seperate"></span></li>
                    @*<li class="quicklinks"> <a href="#" class="" >
                        <div class="iconset top-tiles"></div>
                        </a> </li>*@
                    <li class="quicklinks">
                        <div style="position: relative; top: -5px;">
                            @LocalizationProvider.Provider.Get("Budget"):
                            <select onchange="ChangeBudget()" id="cbCurrentBudget" style="width:100px">
                                @foreach (var b in budgets)
                                {
                                    @Html.Raw(string.Format("<option {0} value=\"{1}\">{2}</option>",
                            b.Id == currentBudgetRow.Id ? "selected=\"selected\"" : "",
                            b.Name, b.Name));
                                }
                            </select>
                        </div>
                    </li>
                    <li class="quicklinks"> <span class="blank-seperate"></span></li>
                    <li class="quicklinks">
                        <div style="position: relative; top: -5px;">
                            @LocalizationProvider.Provider.Get("Version"):
                            <select onchange="ChangeBudgetVersion()" id="cbCurrentBudgetVersion" style="width:130px">
                                @foreach (var bv in budgetversions)
                                {
                                    @Html.Raw(string.Format("<option {0} value=\"{1}\">{2}</option>",
                             bv.Id == currentBudgetVersionRow.Id ? "selected=\"selected\"" : "",
                             bv.Name, bv.Name + (bv.IsCurrent ? " [" + OptimaJet.Localization.LocalizationProvider.Provider.Get("header:Current") + "]" : "")));
                                }
                            </select>
                        </div>
                    </li>
                    @*<li class="m-r-10 input-prepend inside search-form no-boarder">
                            <span class="add-on"> <span class="iconset top-search"></span></span>
                             <input name="" type="text"  class="no-boarder " placeholder="Поиск" style="width:250px;">
                        </li>*@
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
            <!-- BEGIN CHAT TOGGLER -->
            <div class="pull-right">
                <li class="chat-toggler">
                    <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom" data-content='' data-toggle="dropdown">
                        <div class="user-details">
                            <div class="username">
                                @*<span class="badge badge-important">3</span>*@
                                @firstName <span class="bold">@lastName</span>
                            </div>
                        </div>
                        <div class="iconset top-down-arrow"></div>
                    </a>
                    <ul class="dropdown-menu" id="notification-list" style="width:300px" role="menu">
                        <li role="presentation" class="dropdown-header">   @LocalizationProvider.Provider.Get("Impersonating employees")</li>
                        @foreach (var suImp in suImps)
                        {
                            <li>
                                <a href="#"></a>
                                <div class="notification-messages info" onclick="javascript:ChangeImpUser('@suImp.Id.ToString("N")')">
                                    @*<div class="<u>content</u>ser-profile">
                                            <img src="@Url.Content("~/Content/assets/img/profiles/d.jpg")"  alt="" data-src="@Url.Content("~/Content/assets/img/profiles/d.jpg")" data-src-retina="@Url.Content("~/Content/assets/img/profiles/d2x.jpg")" width="35" height="35">
                                        </div>*@
                                    <div class="message-wrapper">
                                        <div class="heading">
                                            @suImp.Name
                                        </div>
                                        <div class="description">
                                            @suImp.Employee.OrganizationalStructureId_ITArea @suImp.Employee.OrganizationalStructureId_ITFunction
                                        </div>
                                        <div class="date pull-left">
                                            @LocalizationProvider.Provider.Get("Date to"): @suImp.DateTo.ToShortDateString()
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        }
                    </ul>

                    @*<div class="notification-messages danger">
                            <div class="iconholder">
                                <i class="icon-warning-sign"></i>
                            </div>
                            <div class="message-wrapper">
                                <div class="heading">
                                    Server load limited
                                </div>
                                <div class="description">
                                    Database server has reahed its daily capicity
                                </div>
                                <div class="date pull-left">
                                2 mins ago
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="notification-messages success">
                            <div class="user-profile">
                                <img src="@Url.Content("~/Content/assets/img/profiles/h.jpg")"  alt="" data-src="@Url.Content("~/Content/assets/img/profiles/h.jpg")" data-src-retina="@Url.Content("~/Content/assets/img/profiles/h2x.jpg")" width="35" height="35">
                            </div>
                            <div class="message-wrapper">
                                <div class="heading">
                                    You haveve got 150 messages
                                </div>
                                <div class="description">
                                    150 newly unread messages in your inbox
                                </div>
                                <div class="date pull-left">
                                An hour ago
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>*@

                    <div class="profile-pic">
                        <img src="@Url.Content("~/Content/assets/img/profiles/avatar.jpg")" alt="" data-src="@Url.Content("~/Content/assets/img/profiles/avatar.jpg")" data-src-retina="@Url.Content("~/Content/assets/img/profiles/avatar.jpg")" width="35" height="35" />
                    </div>
                </li>

        <ul class="nav quick-section ">
            <li class="quicklinks">
                <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                    <div class="iconset top-settings-dark "></div>
                </a>
                <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                    <li>
                        <a href="#WS/Profile/GetContent"> @LocalizationProvider.Provider.Get("Profile")</a>
                    </li>
                    @*<li><a href="calender.html">Мой календарь</a>
                        </li>
                        <li><a href="email.html"> Входящие&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a>
                        </li>*@
                    <li class="divider"></li>
                    <li><a href="/Account/LogOff"><i class="fa fa-power-off"></i>&nbsp;&nbsp;@LocalizationProvider.Provider.Get("Exit")</a></li>
                </ul>
            </li>
            @*<li class="quicklinks"> <span class="h-seperate"></span></li>
                <li class="quicklinks">
                <a id="chat-menu-toggle" href="#sidr" class="chat-menu-toggle" ><div class="iconset top-chat-dark "><span class="badge badge-important hide" id="chat-message-count">1</span></div>
                </a>
                    <div class="simple-chat-popup chat-menu-toggle hide" >
                        <div class="simple-chat-popup-arrow"></div><div class="simple-chat-popup-inner">
                             <div style="width:100px">
                             <div class="semi-bold">David Nester</div>
                             <div class="message">Hey you there </div>
                            </div>
                        </div>
                    </div>
                </li> *@
        </ul>
    </div>
    <!-- END CHAT TOGGLER -->
</div>
<!-- END TOP NAVIGATION MENU -->
    </div>
<!-- END TOP NAVIGATION BAR -->
</div>

<!-- END HEADER -->
<script>
    function ReloadHeader()
    {

        //$('#refresh-header').empty();
        //$("#refresh-header").load('Panel/Header');
        /*$.ajax({
            type: 'GET',
            url: '/Panel/Header',
            success: function (data) {
                $('#refresh-header').replaceWith(data);
            }
        });*/

        $.get('/Panel/Header', function(data) {
            $('#refheader').empty();
            $('#refheader').html(data);
            //$('.dropdown-toggle').dropdown();
        });
    }

    function ChangeBudget()
    {
        var cbCurrentBudget = $('#cbCurrentBudget')[0];
        optimajet.UrlAddParams = new Array();
        optimajet.UrlAddParamsAddOrUpdateParam('B', cbCurrentBudget.value);
        $.cookie("budget", cbCurrentBudget.value);
        location.href = optimajet.CorrectUrl("/");
    }

    function ChangeBudgetVersion() {
        var cbCurrentBudgetVersion = $('#cbCurrentBudgetVersion')[0];
        optimajet.UrlAddParamsAddOrUpdateParam('BV', cbCurrentBudgetVersion.value);
        $.cookie("budgetversion", cbCurrentBudgetVersion.value);

        location.href = optimajet.CorrectUrl("/");
    }

    function ChangeImpUser(id)
    {
        var isFind = false;
        for (var i = 0; i < optimajet.UrlAddParams.length ; i++) {
            if (optimajet.UrlAddParams[i].key == 'ImpUser') {
                optimajet.UrlAddParams[i].value = id;
                isFind = true;
                break;
            }
        }

        if (!isFind){
            optimajet.UrlAddParams.push({ key: 'ImpUser', value: id });
        }

        location.href = optimajet.CorrectUrl("/");
    }
</script>