@model Admin.Models.MetaSchedulerModel

@{
    ViewBag.Title = Model.Id == Guid.Empty ? "Создание объекта" : ("Редактирование объекта " + Model.Name);
    Html.EnableClientValidation(true);
}

<div>
    @Html.ActionLink(Resources.Resource.Back, "Index")
</div>

<br />

@using (Html.BeginForm("Edit", "MetaScheduler", FormMethod.Post))
{
    @Html.ValidationSummary(true, Resources.Resource.ErrorInFields)
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <label>Планировщик</label>
        <section>
            @Html.LabelFor(model => model.Name, @<span class="required">&nbsp;</span>)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </section> 
        <section>
            @Html.LabelFor(model => model.IsActive)
            <div>
                @Html.CheckBoxFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </section> 
        <section>
            @Html.LabelFor(model => model.TypeId)
            <div>
                @Html.DropDownListFor(model => model.TypeId, new SelectList(OptimaJet.Meta.Objects.MetaSchedulerHelper.CurrentTypeList, "Id", "Name"))
                @Html.ValidationMessageFor(model => model.TypeId)
            </div>
        </section>          
        <section id="sectionPeriod">
            @Html.LabelFor(model => model.PeriodId)
            <div>
                @Html.DropDownListFor(model => model.PeriodId, new SelectList(OptimaJet.Meta.Objects.MetaSchedulerHelper.CurrentPeriodList, "Id", "Name"))
                @Html.ValidationMessageFor(model => model.PeriodId)
            </div>
        </section>
         <section id="sectionNumberInPeriod">
            @Html.LabelFor(model => model.NumberInPeriod)
            <div>
                @Html.EditorFor(model => model.NumberInPeriod)
                @Html.ValidationMessageFor(model => model.NumberInPeriod)
            </div>
        </section>
        <section id="sectionStartTime">
            @Html.LabelFor(model => model.StartTime2)
            <div>
                @Html.EditorFor(model => model.StartTime2)
                @Html.ValidationMessageFor(model => model.StartTime2)
            </div>
        </section>
        <section id="sectionIntervalSecond">
            @Html.LabelFor(model => model.IntervalSecond)
            <div>
                @Html.EditorFor(model => model.IntervalSecond)
                @Html.ValidationMessageFor(model => model.IntervalSecond)
            </div>
        </section>
        <section>
            @Html.LabelFor(model => model.SecurityUserId, @<span class="required">&nbsp;</span>)
            <div>
                @Html.DropDownListFor(model => model.SecurityUserId, new SelectList(OptimaJet.Meta.Objects.MetaSchedulerHelper.SecurityUserList, "Id", "Name"))
                @Html.ValidationMessageFor(model => model.SecurityUserId)
            </div>
        </section>
        <section>
            @Html.LabelFor(model => model.ExternalMethodId, @<span class="required">&nbsp;</span>)
            <div>
                @Html.HiddenFor(model => model.ExternalMethodId)
                @Html.EditorFor(model => model.ExternalMethodId)
                @Html.ValidationMessageFor(model => model.ExternalMethodId)
            </div>
        </section>
        
        <section>
            @Html.LabelFor(model => model.Parameters)
            <div>
                @Html.TextAreaFor(model => model.Parameters)
                @Html.ValidationMessageFor(model => model.Parameters)
            </div>
        </section>

    </fieldset>

    <fieldset>
        <section>
            <div>
                <button name="button" class="fr submit" value="SaveAndExit">@Resources.Resource.SaveExit</button>
                <button name="button" class="fr submit" value="Save">@Resources.Resource.Save</button>
            </div>
        </section>
    </fieldset>
}  
<div>
    @Html.ActionLink(Resources.Resource.Back, "Index")
</div>

<script>
    jQuery(function () {
        $('#TypeId').change(function () {
            CheckForm();
        });

        $('#PeriodId').change(function () {
            CheckForm();
        });

        CheckForm();
    });

    function CheckForm() {
        var type = $('#TypeId')[0].value;
        if (type == '0') {
            $('#sectionPeriod').show();
            

            var period = $('#PeriodId')[0].value;
            if (period > 0) {
                $('#sectionStartTime').show();
            }
            else {
                $('#sectionStartTime').hide();
            }

            if (period > 1) {
                $('#sectionNumberInPeriod').show();
            }
            else {
                $('#sectionNumberInPeriod').hide();
            }

            $('#sectionIntervalSecond').hide();
        }
        else {
            $('#sectionPeriod').hide();
            $('#sectionStartTime').hide();
            $('#sectionNumberInPeriod').hide();
            $('#sectionIntervalSecond').show();
        }                
    }
</script>