@using OptimaJet.Common
@{
    ViewBag.Title = string.Format("{0} :: {1}", Admin.DAL.Settings.ApplicationName, ViewBag.Title);
}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"> </script>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        @Html.Partial("ExtJSLoading")
        <div class="container">
            <header class="header clearfix">
                <div class="logo" style="color: red">@Admin.DAL.Settings.ApplicationName</div>

                <nav class="menu_main">
                    <ul>
                        <li><a href="http://dwkit.com">@OptimaJet.Localization.LocalizationProvider.Provider.Get("About product")</a></li>
                        <li><a href="http://pmtask.ru">@OptimaJet.Localization.LocalizationProvider.Provider.Get("Help")</a></li>
                    </ul>
                </nav>
            </header>
            <div class="info">
                @RenderBody()
            </div>
        
            @Html.Partial("Menu/Footer")
        </div>
    </body>
</html>