@using OptimaJet.Workspace
@using System.Configuration

@helper BuildMenu(List<WsMenu> menuItems)
{
    foreach (var menu in menuItems)
    {
        <li>
       
            @{
                string aInternals = "";
                if (!menu.Children.Any())
                {
                    aInternals = string.Format("href=\"{0}\"", menu.RedirectUrl);
                }
            }
            <a @Html.Raw(aInternals)>

                @if (!string.IsNullOrEmpty(menu.ImageUrl))
                {
                    <i class="@menu.ImageUrl"></i>
                }
                <span class="title">@OptimaJet.Localization.LocalizationProvider.Provider.Correct("menu", menu.Caption)</span>
                @if (menu.Children.Any())
                {
                    <span class="arrow"></span>
                }
            </a>


            @if (menu.Children.Any())
            {
                <ul class="sub-menu">
                    @BuildMenu(menu.Children)
                </ul>
            }

        </li>
    }
}

<ul>
    
    @{
        var menuItems = WsFactory.GetMenu(1);
    }

    @BuildMenu(menuItems)
</ul>