@using Admin.Controllers
@model List<Admin.Models.MetaViewColumnModel>

<script src="@Url.Content("~/Scripts/jquery.treeTable.min.js")" type="text/javascript"> </script>
<link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.treeTable.css")" id="themestyle">
<style>
    
    table.treeTable
    {
        border-top: 1px solid #E7E7E7;
        border-left: 1px solid #E7E7E7;
        border-bottom: 1px solid #E7E7E7;
        border-spacing: 0px;
    }
    
    table.treeTable td.ColumnChecked {
        text-align: center; 
    }
    
    table.treeTable th{
    padding-left: 5px;   
    padding-right: 5px;
    border-right: 1px solid #E7E7E7;
    }
    
    table.treeTable td{
    padding-left: 5px;   
    padding-right: 5px;
    border-top: 1px solid #E7E7E7; 
    border-right: 1px solid #E7E7E7; 
        
    }
    
    table.treeTable td.columnTree
    {
        padding-left: 20px;   
    }

    table.treeTable tr:hover {
        background: #CCCCCC;
    }

    
</style>

<table id='Columns' class="treeTable">
    <thead>
        <tr>
            <th style="width:250px">@Resources.Resource.Column</th>
            <th style="width:50px">@Resources.Resource.Order</th>
            <th style="width:50px">@Resources.Resource.Width</th>
            <th style="width:25px">@Resources.Resource.Show <input type="checkbox" onclick="CheckColumn(this.checked, 'AllowShow')" /> </th>
            <th style="width:25px">@Resources.Resource.Edit <input type="checkbox" onclick="CheckColumn(this.checked, 'AllowEdit')" /></th>
            <th style="width:25px">@Resources.Resource.ImportExport <input type="checkbox" onclick="CheckColumn(this.checked, 'AlowImportExport')" /> </th>
            <th style="width:25px">@Resources.Resource.Compare<input type="checkbox" onclick="CheckColumn(this.checked, 'AllowCompare')" /></th>
            <th style="width:50px">@Resources.Resource.ViewForSelect</th>
            <th style="width:250px">@Resources.Resource.AlterName</th>
            <th style="width:50px">@Resources.Resource.FormatString</th>
            <th style="width:50px">@Resources.Resource.ControlEdit</th>
        </tr>
    </thead>
    
    @{int index = 0;}
    @foreach(var m in Model.Where(c=> !c.ParentId.HasValue))
    {
        @Html.Raw(MetaViewController.GenerateColumnHtml("Columns", m, Model, ref index, null))
        index++;
    }
</table>

<script>
    function CheckColumn(checked, className) {
        $('.' + className).each(function () {
            if (!this.parentNode.parentNode.classList.contains("ui-helper-hidden"))
                this.checked = checked;
        });
    }
    
    $(document).ready(function () {
        $('#Columns').treeTable();
    });
</script>