@using Admin.Controllers
@model Admin.Models.MetaViewModel

@{
    ViewBag.Title = Model.Id == Guid.Empty ? Resources.Resource.CreateObject : (Resources.Resource.EditObject + " " + Model.Name);
    Html.EnableClientValidation(true);
}

<div id='result'></div>
<div class="toolbar">
    @Html.ActionLink(Resources.Resource.Back, "Index")

    @if (Model.Id != Guid.Empty)
    {
        <a class="toolbar-separator" href="#"> | </a>
        <a class="toolbar-copy" href="javascript:Copy();">@Resources.Resource.Copy</a>
        
        <script>
            function Copy() {
                if (confirm(@Resources.Resource.CopyConfirm)) {
                    $('#result').innerHTML = '';
                    var data = new Array();
                    data.push({ name: 'Id', value: '@Model.Id' });

                    $('#result').load('@Url.Action("Copy")', data,
                    function () {
                    });
                }
            }
        </script>
    }
</div>

@using (Html.BeginForm("Edit", "MetaView", FormMethod.Post))
{
    @Html.ValidationSummary(true, Resources.Resource.ErrorInFields)
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <label>@Resources.Resource.View</label>
        <section>
            @Html.LabelFor(model => model.Name, @<span class="required">&nbsp;</span>)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </section>
        <section>
            @Html.LabelFor(model => model.Caption, @<span>&nbsp;</span>)
            <div>
                @Html.EditorFor(model => model.Caption)
                @Html.ValidationMessageFor(model => model.Caption)
            </div>
        </section>
        <section>
            @Html.LabelFor(model => model.MasterEntityId, @<span class="required">&nbsp;</span>)
            <div>
                @Html.HiddenFor(model => model.MasterEntityId)
                @Html.EditorFor(model => model.MasterEntityId)
                @Html.ValidationMessageFor(model => model.MasterEntityId)
            </div>
        </section>   
         <section>
            @Html.LabelFor(model => model.DefaultSort)
            <div>
                @Html.EditorFor(model => model.DefaultSort)
                @Html.ValidationMessageFor(model => model.DefaultSort)
            </div>
        </section>    
        <section>
            @Html.LabelFor(model => model.Comment)
            <div>
                @Html.TextAreaFor(model => model.Comment, new { @rows = 6 }) 
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </section>  
        @if (Model.Id != Guid.Empty)
        {
            <section>
                <label>@Resources.Resource.Functions</label>
                <div>
                    @Html.Partial("ExternalMethods", @Model.Id)
                </div>
            </section>  
            <label>@Resources.Resource.Columns</label>
             <section>
                @Html.Partial("Columns", MetaViewController.GetColumnsForView(@Model))
            </section>  
        }
    </fieldset>
    <fieldset>
        <section>
            <div>
                <button name="button" class="fr submit" value="SaveAndExit">@Resources.Resource.SaveExit</button>
                <button name="button" class="fr submit" value="Save">@Resources.Resource.Save</button>
            </div>
        </section>
    </fieldset>
}  
<div>
    @Html.ActionLink(Resources.Resource.Back, "Index")
</div>