
@model Guid

<div id='ExternalMethodsResult'></div>
<div class="toolbar">
                    
    <a class="toolbar-add" href="@Url.Action("EditExternalMethod", "MetaView", new {Id = DBNull.Value, ViewId = Model})">@Resources.Resource.Create</a>
    <a class="toolbar-delete" href="javascript:ExternalMethodDeleteCheckedRows();">@Resources.Resource.Delete</a>
</div>
@Html.Partial("ExternalMethodGrid", Model)

<script>
    function ExternalMethodDeleteCheckedRows() {
        if (ExternalMethodGrid.GetSelectedRowCount() < 1) {
            alert('@Resources.Resource.NotSelectRows');
            return;
        }
        console.log(ExternalMethodGrid.GetSelectedRowCount());
        ExternalMethodGrid.GetSelectedFieldValues("Id", OnExternalMethodGridDeleteCheckedRows);
    }

    function OnExternalMethodGridDeleteCheckedRows(selectedValues) {
        console.log(selectedValues);
        var data = new Array();
        for (var i = 0; i < selectedValues.length; i++) {
            data[data.length] = { name: 'checkedRecords', value: selectedValues[i] };
        }
        $('#ExternalMethodsResult').innerHTML = '';
        $('#ExternalMethodsResult').load('@Url.Action("ExternalMethodDeleteRows")', data,
            function () {
                ExternalMethodGrid.Refresh();
            });
    }
</script>