@model Admin.Models.WorkflowSchemeModel

@{  
    ViewBag.Title = string.IsNullOrEmpty(Model.Code) ? Resources.Resource.CreateObject : (Resources.Resource.EditObject + " " + Model.Code);
    Html.EnableClientValidation(true);
}

<div>
    @Html.ActionLink(Resources.Resource.Back, "Index")
</div>

@using (Html.BeginForm("Edit", "WorkflowScheme", FormMethod.Post))
{            
    @Html.ValidationSummary(true, Resources.Resource.ErrorInFields)
    <fieldset>
        <label>@Resources.Resource.Workflow</label>
        <section>
            @Html.LabelFor(model => model.Code, @<span class="required">&nbsp;</span>)
            <div>
                @if (Model.IsNew)
                {
                    @Html.EditorFor(model => model.Code)
                    @Html.ValidationMessageFor(model => model.Code)
                }
                else
                {
                    @Html.DisplayTextFor(model => model.Code);
                }
            </div>
        </section> 
    </fieldset>
    <hr />
    
    if (Model.IsNew)
    {
        <fieldset>
            <section>
                <div>
                    <button name="button" type="submit" class="fr submit" value="Save">@Resources.Resource.Save</button>
                </div>
            </section>
        </fieldset>
    }
    else {
        @Html.Partial("Designer", @Model);
    }
   
}  

<div>
    @Html.ActionLink(Resources.Resource.Back, "Index")
</div>
