@model Guid
<div id='permissionsResult'></div>

<div class="toolbar">
    <a class="toolbar-allow" href="javascript:changeAccessType(1);">@Resources.Resource.Access</a>
    <a class="toolbar-block" href="javascript:changeAccessType(0);">@Resources.Resource.Denied</a>
    <a class="toolbar-drop" href="javascript:changeAccessType(255);">@Resources.Resource.Undefined</a>
    <a class="toolbar-stop" href="#" ></a>
    <a class="toolbar-Expand" href="javascript:PermissionGrid.ExpandAll();">@Resources.Resource.ExpandAll</a>
    <a class="toolbar-Collapse" href="javascript:PermissionGrid.CollapseAll();">@Resources.Resource.CollapseAll</a>
</div>

@Html.Partial("Permissions/PermissionsGrid", Model)
<script type="text/javascript">
    function changeAccessType(type) {
        if (PermissionGrid.GetSelectedRowCount() < 1) {
            alert('@Resources.Resource.NotSelectRows');
            return;
        }

        if (type == 1)
            PermissionGrid.GetSelectedFieldValues("SecurityPermissionId", OnPermissionApproveRows);
        else if (type == 0)
            PermissionGrid.GetSelectedFieldValues("SecurityPermissionId", OnPermissionBanRows);
        else
            PermissionGrid.GetSelectedFieldValues("SecurityPermissionId", OnPermissionResetRows);
    }


    function OnPermissionApproveRows(selectedValues) {
        var data = new Array();
        for (var i = 0; i < selectedValues.length; i++) {
            data[data.length] = { name: 'checkedRecords', value: selectedValues[i] };
        }
        data[data.length] = { name: 'objectId', value: '@Model' };
        data[data.length] = { name: 'status', value: 1 };

        $('#permissionsResult').innerHTML = '';
        $('#permissionsResult').load('@Url.Action("PermissionChangeStatus")', data,
            function() {
                PermissionGrid.Refresh();
                PermissionGrid.UnselectRows();
            });
    }

    function OnPermissionBanRows(selectedValues) {
        var data = new Array();
        for (var i = 0; i < selectedValues.length; i++) {
            data[data.length] = { name: 'checkedRecords', value: selectedValues[i] };
        }
        data[data.length] = { name: 'objectId', value: '@Model' };
        data[data.length] = { name: 'status', value: 0 };
        $('#permissionsResult').innerHTML = '';
        $('#permissionsResult').load('@Url.Action("PermissionChangeStatus")', data,
            function() {
                PermissionGrid.Refresh();
                PermissionGrid.UnselectRows();
            });
    }

    function OnPermissionResetRows(selectedValues) {
        var data = new Array();
        for (var i = 0; i < selectedValues.length; i++) {
            data[data.length] = { name: 'checkedRecords', value: selectedValues[i] };
        }
        data[data.length] = { name: 'objectId', value: '@Model' };
        data[data.length] = { name: 'status', value: 255 };

        $('#permissionsResult').innerHTML = '';
        $('#permissionsResult').load('@Url.Action("PermissionChangeStatus")', data,
            function() {
                PermissionGrid.Refresh();
                PermissionGrid.UnselectRows();
            });
    }
</script>