@model Guid
<div id='emResult'></div>

<div class="toolbar">
    <a class="toolbar-add" href="javascript:ExternalMethodGridAdd();">@Resources.Resource.Add</a>
    <a class="toolbar-delete" href="javascript:ExternalMethodDeleteCheckedRows();">@Resources.Resource.Delete</a>
</div>

@Html.Partial("ExternalMethod/PartialGrid", Model)
@Html.Partial("ExternalMethod/Popup")

<script>
   function ExternalMethodDeleteCheckedRows() {
       if (ExternalMethodGrid.GetSelectedRowCount() < 1) {
            alert('@Resources.Resource.NotSelectRows');
            return;
        }
        ExternalMethodGrid.GetSelectedFieldValues("Id", OnExternalMethodGridDeleteCheckedRows);
    }

    function OnExternalMethodGridDeleteCheckedRows(selectedValues) {
        var data = new Array();
        for (var i = 0; i < selectedValues.length; i++) {
            data[data.length] = { name: 'checkedRecords', value: selectedValues[i] };
        }
        data[data.length] = { name: 'objectId', value: '@Model' };

        $('#emResult').innerHTML = '';
        $('#emResult').load('@Url.Action("EMDeleteRows")', data,
            function() {
                ExternalMethodGrid.Refresh();
            });
    }

    var EMEditId=undefined;
    function ExternalMethodGridAdd() {
        EMEditId = undefined;
        emPopup.Show();
        emPopup.PerformCallback();
    }

//    function ExternalMethodGridEdit(id) {
//        EMEditId = id;
//        emPopup.Show();
//        emPopup.PerformCallback('id=' + id);
//    }

    function EMPopupControlSelect() {
        var data = new Array();
//        if(EMEditId != undefined) {
//            data.push({ name: 'id', value: EMEditId });
//        }
        data.push({ name: 'type', value: $('#cbType')[0].value });
        data.push({ name: 'emId', value: $('#cbEM')[0].value });
        data.push({ name: 'param', value: $('#txtParams')[0].value });
        data.push({ name: 'metaviewId', value: '@Model' });
        

        $('#emResult').innerHTML = '';
        $('#emResult').load('@Url.Action("EMUpdateRow")', data,
        function () {
            ExternalMethodGrid.Refresh();
        });
        emPopup.Hide();
    }

    function EMPopupControlCancel() {
        emPopup.Hide();
    }
    
    function GetEMParams() {
        var data = new Array();
        data[data.length] = { name: 'id', value: $('#cbEM')[0].value };
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetEMParam", "ExternalMethod")",
            data: data,
            success: function(msg) {
                $("#txtParams").val(msg);
            }
        });
    }
</script>