@using Admin.Controls
@using Admin.Helpers
@using OptimaJet.Meta.Objects
<table>
    <tr>
        <td style="width:100px">
            <label for="IsCreateView">@Resources.Resource.CreateForm</label>
        </td>
        <td>
            <input id="IsCreateForm" type="checkbox" checked="checked"/>
        </td>
    </tr>
    <tr>
        <td>
            <label for="MetaFormBlockTemplates">@Resources.Resource.Templates</label>
        </td>
        <td>
            @Html.CheckBoxList(MetaFormBlockTemplateHelper.GetAll().Select(
                o => new CheckBoxListItem
                {
                    Id = o.Id,
                    Name = o.Name,
                    Check = false
                }).ToList(), new Admin.Controls.CheckBoxListSettings
                {
                    cblName = "MetaFormBlockTemplates",
                    cblDirection = Admin.Controls.Direction.Vertical,
                    cblRepeatColumns = RepeatColumns.FiveColumns,
                    cblLayout = Layoutt.Table
                }, null)
        </td>
    </tr>
    <tr>
        <td>
            <label for="IncludeInMenuComboBox">@Resources.Resource.AddInMenu</label>
        </td>
        <td>
            <input id="IsIncludeInMenu" type="checkbox" checked="checked"/>
            <input type="hidden" id="IncludeInMenu"/>
            @Html.DevExpress().ComboBox(
                settings =>
                {
                    CurrentSettings.LoadComboBoxSettings(settings, "IncludeInMenu", true, Url.Action("Edit", "MetaMenu"));
                    settings.CallbackRouteValues = new { Controller = "MetaMenu", Action = "EditorCombox", PropertyName = "IncludeInMenu", IsNullableValueType = true };
                    settings.Properties.Columns.Add("Name", Resources.Resource.Name);
                    settings.Properties.Columns.Add("Type.Name", Resources.Resource.Type);
                    settings.Properties.Columns.Add("SortOrder", Resources.Resource.SortOrder);
                    settings.Properties.Columns.Add("Form.Name", Resources.Resource.Form);
                }
           ).BindList(MetaMenuHelper.GetAll()).GetHtml()
        </td>
    </tr> 
</table>