@model Admin.Models.SecurityUserModel

@{
    ViewBag.Title = Model.Id == Guid.Empty ? Resources.Resource.CreateObject : (Resources.Resource.EditObject + " " + Model.Name);
    Html.EnableClientValidation(true);
}

<div>
    @Html.ActionLink(Resources.Resource.Back, "Index")
</div>

<br />

@using (Html.BeginForm("Edit", "SecurityUser", FormMethod.Post))
{
    @Html.ValidationSummary(true, Resources.Resource.ErrorInFields)
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <label>@Resources.Resource.Users</label>
        <section>
            @Html.LabelFor(model => model.Name, @<span class="required">&nbsp;</span>)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </section> 
        <section>
            @Html.LabelFor(model => model.IsLocked)
            <div>
                @Html.CheckBoxFor(model => model.IsLocked)
                @Html.ValidationMessageFor(model => model.IsLocked)
            </div>
        </section>           
        <section>
            @Html.LabelFor(model => model.Email)
            <div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </section>
        <section>
            @Html.LabelFor(model => model.Localization)
            <div>
                @Html.EditorFor(model => model.Localization)
                @Html.ValidationMessageFor(model => model.Localization)
            </div>
        </section>
        <section>
            @Html.LabelFor(model => model.Timezone)
            <div>
                @Html.EditorFor(model => model.Timezone)
                @Html.ValidationMessageFor(model => model.Timezone)
            </div>
        </section>
        <section>
            @Html.LabelFor(model => model.ExternalId)
            <div>
                @Html.EditorFor(model => model.ExternalId)
                @Html.ValidationMessageFor(model => model.ExternalId)
            </div>
        </section>
        <section>
            @Html.LabelFor(model => model.Groups)
            <div>
                @Html.EditorFor(model => model.Groups)
                @Html.ValidationMessageFor(model => model.Groups)
            </div>
        </section>
        <section>
            @Html.LabelFor(model => model.Roles)
            <div>
                @Html.EditorFor(model => model.Roles)
                @Html.ValidationMessageFor(model => model.Roles)
            </div>
        </section>
    </fieldset>

    if (Model.Id != Guid.Empty)
    {
        @Html.Partial("Credentials", @Model.Id)
    }

    <fieldset>
        <section>
            <div>
                <button name="button" onclick=" SaveGrids() " class="fr submit" value="SaveAndExit">@Resources.Resource.SaveExit</button>
                <button name="button" onclick=" SaveGrids() " class="fr submit" value="Save">@Resources.Resource.Save</button>
            </div>
        </section>
    </fieldset>
}  
<div>
    @Html.ActionLink(Resources.Resource.Back, "Index")
</div>

<script>
    function SaveGrids() {
        var grid = $('#CredentialGrid');
        if (grid != undefined) {
            grid.data('tGrid').submitChanges();
        }
        return true;
    }
</script>