@model Admin.Models.LocalizationModel

@{
    ViewBag.Title = Model.Id == Guid.Empty ? Resources.Resource.CreateObject : (Resources.Resource.EditObject + " " + Model.Key);
    Html.EnableClientValidation(true);
}

<div>
    @Html.ActionLink(Resources.Resource.Back, "Index")
</div>

<br />

@using (Html.BeginForm("Edit", "Localization", FormMethod.Post))
{
    @Html.ValidationSummary(true, Resources.Resource.ErrorInFields)
    <fieldset>
        @Html.HiddenFor(model => model.Id)
        <label>@Resources.Resource.Localization</label>
        <section>
            @Html.LabelFor(model => model.Key, @<span class="required">&nbsp;</span>)
            <div>
                @Html.EditorFor(model => model.Key)
                @Html.ValidationMessageFor(model => model.Key)
            </div>
        </section>  
        <section>
            @Html.LabelFor(model => model.Value, @<span class="required">&nbsp;</span>)
            <div>
                @Html.EditorFor(model => model.Value)
                @Html.ValidationMessageFor(model => model.Value)
            </div>
        </section>     
    </fieldset>

    if (Model.Id != Guid.Empty)
    {
        @Html.Partial("Langs", @Model.Key)       
    }

    <fieldset>
        <section>
            <div>
                <button name="button" class="fr submit" value="SaveAndExit">@Resources.Resource.SaveExit</button>
                <button name="button" class="fr submit" value="Save">@Resources.Resource.Save</button>
            </div>
        </section>
    </fieldset>
}  
<div>
    @Html.ActionLink(Resources.Resource.Back, "Index")
</div>