@using OptimaJet.Localization
@model Workspaces.Models.LogOnModel
@{
    ViewBag.Title = LocalizationProvider.Provider.Get("Entry");
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";

    string lang = "en";
}

<script>
    var optimajet = new Object();
</script>

<script src="@Url.Content(string.Format("~/SG/Localization/{0}.js", lang))" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/login.js")" type="text/javascript"></script>

<style>
    .validation-summary-errors {
    color: #e80c4d;
}

.validation-summary-valid {
    display: none;
}
</style>

<div class="row login-container column-seperation">  
    <div class="col-md-5 col-md-offset-1">
        <h2 style="text-align: center;">Approval System<br />Support of process of budgeting</h2>
        <p style="text-align: center;">
            <img style="height: 140px;" src="~/Images/index_logo.png" />
        </p>
        <br>
    </div>
    <div class="col-md-5 "> <br>
    
    @Html.ValidationSummary(true, LocalizationProvider.Provider.Get("loginform:Login failed. Please correct the errors and try again.", lang))
    @using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { id = "login-form", @class="login-form" }))
    {  
		 <div class="row">
		 <div class="form-group col-md-10">
           <label class="form-label" for="UserName">@LocalizationProvider.Provider.Get("Login", lang)</label>           
            <div class="controls">
				<div class="input-with-icon  right">                                       
					<i class=""></i>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
				</div>
            </div>
          </div>
          </div>
		 <div class="row">
          <div class="form-group col-md-10">
              <label class="form-label" for="Password">@LocalizationProvider.Provider.Get("Password", lang)</label>  
            <span class="help"></span>
            <div class="controls">
				<div class="input-with-icon  right">                                       
					<i class=""></i>					
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				</div>
            </div>
          </div>
          </div>
		 <div class="row">
          <div class="control-group  col-md-10">
            <div class="checkbox checkbox check-success"> @*<a href="#">Проблемы с входом?</a>&nbsp;&nbsp;*@
                @*@Html.CheckBoxFor(m => m.RememberMe, new {@value = true})*@
                <input checked="checked" id="RememberMe" name="RememberMe" type="checkbox" value="true">
                <label for="RememberMe">@LocalizationProvider.Provider.Get("Remember", lang)?</label>
              
            </div>
          </div>
          </div>
         <div class="row">
            <div class="col-md-10">
              <button class="btn btn-primary btn-cons pull-right" type="submit">@LocalizationProvider.Provider.Get("loginform:LoginButtonText", lang)</button>
            </div>
          </div>
    }
</div>